*{
    box-sizing: border-box;
}
body{
    margin: 0;
    max-width: 1170px;
    background-image: url('../img/1.jpg');
}

.container{
    margin: auto;
}
.main{
    margin-left: 200px;
    margin-top: 300px;
}
@font-face{
    src:url('../fonts/CandyTime.ttf');  
    font-family: 'Candy Time';
}
@font-face{
    font-family: 'Open Sans ExtraBold';
    src:url('../fonts/OpenSans-ExtraBold.ttf');
}